framework: net461
source https://www.nuget.org/api/v2

nuget FSharp.Core < 4.1
nuget Suave
nuget Suave.Testing
nuget Arachne.Core
nuget Arachne.Language
nuget Arachne.Http
nuget Chiron
nuget Expecto.FsCheck
nuget FsCheck
nuget Http.fs
nuget NuGet.CommandLine
github haf/YoLo YoLo.fs
