framework: net45
source https://www.nuget.org/api/v2

nuget FSharp.Core ~> 3
nuget Suave
nuget Suave.Testing
nuget Arachne.Core
nuget Arachne.Language
nuget Arachne.Http
nuget Chiron

nuget Fuchu.FsCheck
nuget FsCheck
nuget Http.fs-prerelease

nuget NuGet.CommandLine

github haf/YoLo YoLo.fs
